<div class="container main-view">

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">

        <div class="col-xs-7">
          <img ng-src="{{photo.images.standard_resolution.url}}" class="img-responsive">
        </div>

        <div class="col-xs-5">
          <h3 class="text-center">Comments</h3>

          <ul class="media-list">
            <li ng-repeat="comment in photo.comments.data" class="media">
              <a class="pull-left" href="http://instagram.com/{{comment.from.username}}">
                <img class="media-object img-rounded" ng-src="{{comment.from.profile_picture}}">
              </a>
              <div class="media-body">
                <a class="media-heading" href="http://instagram.com/{{comment.from.username}}">@{{comment.from.username}}</a>
                {{comment.text}}
              </div>
            </li>
            <li ng-if="!photo.comments.data.length">No comments</li>
          </ul>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-4">
          <button 
            class="btn" 
            ng-class="{ 'btn-success': hasLiked, 'btn-primary': !hasLiked }" 
            ng-click="like()"
          >
            <span ng-if="hasLiked">Liked</span>
            <span ng-if="!hasLiked">Like</span>
          </button>

          <div class="caption">
            <h3>
              <a href="http://instagram.com/{{photo.user.username}}">
                {{ photo.user.username }}
              </a>
            </h3>

            <p>{{ photo.caption.text }}</p>
          </div>
        </div>

        <div class="col-xs-8">
          <p>{{photo.created_time * 1000 | date:'short'}} &mdash; {{photo.likes.count}} &hearts;</p>
        </div>

      </div>

    </div>
  </div>

</div>