<div class="container main-view">

  <div ng-if="isAuthenticated() && currentUser.username">
    <h2>Your Wall</h2>
    <div class="row">
      <div ng-repeat="photo in photos" class="col-lg-2 col-sm-3 col-xs-4">
        <a href="#/photo/{{photo.id}}">
          <img ng-src="{{photo.images.standard_resolution.url}}" class="thumbnail img-responsive">
        </a>
      </div>
    </div>
  </div>

  <div id="hello" ng-if="!isAuthenticated()">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <h2>Hi. Do you &hearts; Instagram?</h2>
          <h3>instaOrganizer gives you a hand to manage it, at ease.</h3>
        </div>
      </div>
    </div> <!-- /container -->
  </div><!-- /hello -->  

  <div ng-if="isAuthenticated() && !currentUser.username" class="panel col-md-6 col-md-offset-3">
    <div class="panel-body">
      <h2>Link Account</h2>

      <p>To complete the registration process you must link your Instagram account :)</p>
      <button class="btn btn-block btn-instagram" ng-click="linkInstagram()">
        <i class="ion-social-instagram"></i> Sign in with Instagram
      </button>
    </div>
  </div>

</div>