<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 class="brand">
        <a href="#/">instaOrganizer</a>
      </h1>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!isAuthenticated()"><a href="#/login">Log in</a></li>
        <li class="important" ng-if="!isAuthenticated()"><a href="#/signup">Sign up</a></li>
        <li 
          ng-if="isAuthenticated()"
          ng-class="{ 'active': $location.path() == '/' }"

        >
          <a href="#/">Wall</a>
        </li>
        <li 
          ng-if="isAuthenticated()"
          ng-class="{ 'active': $location.path() == '/relationships' }"
          >
          <a href="#/relationships">Followers</a>
        </li>
        <li ng-if="isAuthenticated()"><a ng-click="logout()" href="">Logout</a></li>
        <li 
          class="profile-pic" 
          ng-if="isAuthenticated() && currentUser.username"
          tooltip="@{{ currentUser.username }}"
          tooltip-placement="bottom"
        >
          <a href="http://instagram.com/{{ currentUser.username }}">
            <img 
              class="media-object img-rounded" 
              ng-src="{{ currentUser.picture }}"
              alt="@{{ currentUser.username }}"
            />
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>





