<div class="container main-view">

  <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>

  <div ng-if="isAuthenticated() && currentUser.username">

    <ul class="nav nav-pills">
      <li
        ng-repeat="tab in tabs" 
        ng-class="{active: tab.active, disabled: tab.disabled}" 
        heading="{{ tab.title }}"
      >
        <a ng-click="selectTab( $index )" href="">
          {{ tab.title }} ({{ relationships[ tab.type ].length }})
        </a>
      </li>
    </ul>

    <div 
      ng-repeat="follow in relationships.follows"
      ng-show="tabs[ 0 ].active"
      class="follower col-lg-2 col-sm-3 col-xs-4" 
    >
      <img ng-src="{{ follow.profile_picture }}" class="img-rounded img-responsive img-more-rounded">
      <a href="http://instagram.com/{{ follow.username }}">{{ follow.username }}</a>
    </div>

    <div 
      ng-repeat="followedBy in relationships.followedBy"
      ng-show="tabs[ 1 ].active"
      class="follower col-lg-2 col-sm-3 col-xs-4" 
    >
      <img ng-src="{{ followedBy.profile_picture }}" class="img-rounded img-responsive img-more-rounded">
      <a href="http://instagram.com/{{ followedBy.username }}">
        {{ followedBy.username }}
      </a>
    </div>

    <div 
      ng-repeat="followingBack in relationships.followingBack"
      ng-show="tabs[ 2 ].active"
      class="follower col-lg-2 col-sm-3 col-xs-4" 
    >
      <img ng-src="{{ followingBack.profile_picture }}" class="img-rounded img-responsive img-more-rounded">
      <a href="http://instagram.com/{{ followingBack.username }}">
        {{ followingBack.username }}
      </a>
    </div>

    <div 
      ng-repeat="youNotFollowingBack in relationships.youNotFollowingBack"
      ng-show="tabs[ 3 ].active"
      class="follower col-lg-2 col-sm-3 col-xs-4" 
      ng-class="{'loading': youNotFollowingBack.loading, 'deleted': youNotFollowingBack.deleted}"
    >
      <img ng-src="{{ youNotFollowingBack.profile_picture }}" class="img-rounded img-responsive img-more-rounded">
      <a href="http://instagram.com/{{ youNotFollowingBack.username }}">
        {{ youNotFollowingBack.username }}
      </a>
      <button ng-click="follow( youNotFollowingBack.id, $index )" class="btn btn-default">
        follow
      </button>
    </div>

    <div 
      ng-repeat="theyNotFollowingBack in relationships.theyNotFollowingBack"
      ng-show="tabs[ 4 ].active"
      class="follower col-lg-2 col-sm-3 col-xs-4" 
      ng-class="{'loading': theyNotFollowingBack.loading, 'deleted': theyNotFollowingBack.deleted}"
    >
      <img ng-src="{{ theyNotFollowingBack.profile_picture }}" class="img-rounded img-responsive img-more-rounded">
      <a href="http://instagram.com/{{ theyNotFollowingBack.username }}">
        {{ theyNotFollowingBack.username }}
      </a>
      <button ng-click="unfollow( theyNotFollowingBack.id, $index )" class="btn btn-default">
        unfollow
      </button>
    </div>

  </div>

</div>