.btn-theme {
  color: #ffffff;
  background-color: #74cfae;
  border-color: transparent;
}

.btn {
  padding: 10px 30px;
  margin-bottom: 0;
  font-size: 18px;
  border: 5px solid transparent;
  border-radius: 0px;
}

.lead {
  letter-spacing: 1px;
}

/* WRAP SECTIONS */

/* hello */
#hello {
  width: 100%;
  padding-top: 250px;
  padding-bottom: 250px;
}

#hello h1 {
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #74cfae;
}

#hello h2 {
  color: #c0c0c0;
  font-weight: 400;
}

/* Green */
#green {
  background-color: #74cfae;
  padding-top: 50px;
  margin-bottom: 0px;
}

#green h3 {
  color: white;
  font-weight: 400;
  margin-bottom: 35px;
}

#green p {
  color: white;
  font-weight: 400;
  font-size: 20px;
}

/* Footer */
footer {
  padding-top: 20px;
  background-color: #74cfae;
  p {
    color: white;
    text-align: right;
    font-weight: 400;
  }
}

/* Image Opacity */
.grid img {
  opacity: .7;
}
.grid img:hover {
  opacity: 1;
}
