.main-view {
  padding-top: 75px;
  min-height: 580px;
}

.thumbnail {
  width: 75%;
}

.img-more-rounded {
  border-radius: 40%;
  width: 100%;
}

.follower {
  margin-top: 8px;
  a {
    display: none;
    text-align: center;
    left: 0;
    position: absolute;
    top: 15px;
    width: 100%;
  }
  button {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 14%;
  }
  &:hover {
    img {
      opacity: .2;  
    }
    a, 
    button {
      display: block;
    }
  }
  &.loading {
    background: url('images/loading.gif') center 25% no-repeat;
  }
  &.deleted::after {
    content: "✓";
    color: #74cfae;
    font-size: 2em;
    position: absolute;
    left: 45%;
    top: 25%;
  }
  &.loading img,
  &.deleted img {
    opacity: .1;
  }
}


