.main-view {
  padding-top: 75px;
  min-height: 580px;
}

.thumbnail {
  width: 75%;
}

.img-more-rounded {
  border-radius: 40%;
  width: 100%;
}

.follower {
  margin-top: 8px;
  a {
    display: none;
    text-align: center;
    left: 0;
    position: absolute;
    top: 15px;
    width: 100%;
  }
  button {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 15%;
    width: 70%;
  }
  &:hover {
    img {
      opacity: .2;  
    }
    a, 
    button {
      display: block;
    }
  }
  &.loading {
    background: url('images/loading.gif') center 25% no-repeat;
  }
  &.deleted::after {
    content: "✓";
    color: #74cfae;
    font-size: 2em;
    position: absolute;
    left: 45%;
    top: 25%;
  }
  &.loading img,
  &.deleted img {
    opacity: .1;
  }
  &.deleted:hover button {
    display: none;
  }
}


#hello {
  width: 100%;
  padding-top: 50px;
  background-image: url('images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  h2 {
    font-size: 4.5em;
    font-weight: bold;
    letter-spacing: -1px;
    color: $index-h2-color;
    font-weight: 400;
    padding-bottom: 0;
  }
  h3 {
    font-size: 2em;
    font-weight: 100;
    letter-spacing: -1px;
    color: darken($index-h2-color, 45%);
    margin-top: 0px;
    margin-bottom: 15px;
  }
  .col-lg-8 {
    background: rgba(255,255,255,0.7);
    border: 1px solid rgba(255,255,255,0.72);
  }

}