.navbar {
  padding-top: 8px;
  background-color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
}
.navbar-default .navbar-nav > li > a,
.nav-pills > li > a {
  text-decoration: none;
}

/* sometimes bootstrap uses this loooong rules :( */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: $nav-el-bg;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
  background-color: $pill-el-bg;
}

.navbar-default .navbar-nav > .important > a, 
.navbar-default .navbar-nav > .important > a:hover, 
.navbar-default .navbar-nav > .important > a:focus {
  background-color: #EFEFEF;
  color: $link-color;
}

.nav-pills {
  margin-bottom: 25px;
}

.navbar-nav > .profile-pic {
  a {
    padding: 0 20px 0 0;
    top: -4px;
  }
  .img-rounded {
    border-radius: 40%;
    width: 60px;
  }
  &:hover .img-rounded {
    z-index: -1;
  }
}

.brand {
  margin: 0;
  top: -5px;
  position: relative;
  a {
    text-decoration: none;
  }
}
