.navbar {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover, 
.navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #74cfae;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
  background-color: #74cfae;
}

.nav-pills {
  margin-bottom: 25px;
}

.navbar-nav > .profile-pic {
  a {
    padding: 0 20px 0 15px;
  }
  .img-rounded {
    border-radius: 40%;
    width: 60px;
  }
  &:hover .img-rounded {
    z-index: -1;
  }
}

.brand {
  margin: 0;
}